
.fto-left:before { content: '\2190'; }
.fto-up:before { content: '\2191'; }
.fto-right:before { content: '\2192'; }
.fto-home:before { content: '\2302'; }
.fto-check:before { content: '\2611'; }
.fto-heart:before { content: '\2665'; }
.fto-cog:before { content: '\2699'; }
.fto-edit:before { content: '\270d'; }
.fto-ok-circle:before { content: '\2714'; }
.fto-th-large:before { content: '\e023'; }
.fto-th:before { content: '\e024'; }
.fto-qrcode:before { content: '\e057'; }
.fto-down-open-2:before { content: '\e0a4'; }
.fto-up-open-2:before { content: '\e0cb'; }
.fto-right-open-3:before { content: '\e0cc'; }
.fto-left-open-3:before { content: '\e0cd'; }
.fto-help-circled:before { content: '\e704'; }
.fto-info-circled:before { content: '\e705'; }
.fto-reply:before { content: '\e712'; }
.fto-export:before { content: '\e715'; }
.fto-print:before { content: '\e716'; }
.fto-vcard:before { content: '\e722'; }
.fto-trash:before { content: '\e729'; }
.fto-basket:before { content: '\e73d'; }
.fto-star-circled:before { content: '\e800'; }
.fto-left-open-1:before { content: '\e801'; }
.fto-down-open-1:before { content: '\e802'; }
.fto-right-open-1:before { content: '\e803'; }
.fto-up-open-1:before { content: '\e804'; }
.fto-heart-2:before { content: '\e805'; }
.fto-cancel-1:before { content: '\e806'; }
.fto-ok:before { content: '\e807'; }
.fto-exchange-1:before { content: '\e808'; }
.fto-heart-1:before { content: '\e809'; }
.fto-home-1:before { content: '\e80a'; }
.fto-search-1:before { content: '\e80b'; }
.fto-right-open-2:before { content: '\e80c'; }
.fto-left-open-2:before { content: '\e80d'; }
.fto-cancel-2:before { content: '\e80e'; }
.fto-ok-1:before { content: '\e80f'; }
.fto-at-1:before { content: '\e810'; }
.fto-layout:before { content: '\e811'; }
.fto-rss-1:before { content: '\e812'; }
.fto-plus-2:before { content: '\e813'; }
.fto-right-dir-2:before { content: '\e814'; }
.fto-left-dir-1:before { content: '\e815'; }
.fto-up-dir:before { content: '\e816'; }
.fto-down-dir-2:before { content: '\e817'; }
.fto-eye-2:before { content: '\e818'; }
.fto-tools:before { content: '\e819'; }
.fto-chat-1:before { content: '\e81a'; }
.fto-plus-1:before { content: '\e81b'; }
.fto-adjust:before { content: '\e81c'; }
.fto-minus-1:before { content: '\e81d'; }
.fto-ajust:before { content: '\e81e'; }
.fto-user-1:before { content: '\e81f'; }
.fto-link:before { content: '\e820'; }
.fto-clock:before { content: '\e821'; }
.fto-angle-double-right:before { content: '\e822'; }
.fto-angle-double-left:before { content: '\e823'; }
.fto-camera-2:before { content: '\e824'; }
.fto-flight:before { content: '\e825'; }
.fto-credit-card:before { content: '\e826'; }
.fto-note-beamed:before { content: '\e827'; }
.fto-truck:before { content: '\e828'; }
.fto-menu-1:before { content: '\e829'; }
.fto-doc-text-inv:before { content: '\e82a'; }
.fto-video-chat:before { content: '\e82b'; }
.fto-video:before { content: '\e82c'; }
.fto-picture-1:before { content: '\e82d'; }
.fto-picture-2:before { content: '\e82e'; }
.fto-videocam-1:before { content: '\e82f'; }
.fto-video-1:before { content: '\e830'; }
.fto-mail:before { content: '\e831'; }
.fto-spin3:before { content: '\e832'; }
.fto-phone-squared:before { content: '\e833'; }
.fto-mail-alt:before { content: '\e834'; }
.fto-mail-1:before { content: '\e835'; }
.fto-tag:before { content: '\e836'; }
.fto-tag-1:before { content: '\e837'; }
.fto-spin5:before { content: '\e838'; }
.fto-tag-2:before { content: '\e839'; }
.fto-users:before { content: '\e83a'; }
.fto-lightbulb:before { content: '\e83b'; }
.fto-bag:before { content: '\e83c'; }
.fto-award:before { content: '\e83d'; }
.fto-briefcase:before { content: '\e83e'; }
.fto-link-1:before { content: '\e83f'; }
.fto-mobile:before { content: '\e840'; }
.fto-plus-circled-2:before { content: '\e841'; }
.fto-cancel-circled:before { content: '\e842'; }
.fto-monitor:before { content: '\e843'; }
.fto-lock-open:before { content: '\e844'; }
.fto-location:before { content: '\e845'; }
.fto-basket-1:before { content: '\e846'; }
.fto-phone:before { content: '\e847'; }
.fto-plus:before { content: '\e848'; }
.fto-cancel:before { content: '\e849'; }
.fto-minus-2:before { content: '\e84a'; }
.fto-plus-squared:before { content: '\e84b'; }
.fto-sort:before { content: '\e84c'; }
.fto-mail-2:before { content: '\e84d'; }
.fto-pencil:before { content: '\e84e'; }
.fto-lock:before { content: '\e84f'; }
.fto-user:before { content: '\e850'; }
.fto-camera:before { content: '\e851'; }
.fto-sort-down:before { content: '\e852'; }
.fto-sort-up:before { content: '\e853'; }
.fto-minus-squared:before { content: '\e854'; }
.fto-th-list:before { content: '\e855'; }
.fto-minus:before { content: '\e856'; }
.fto-crown:before { content: '\e857'; }
.fto-globe-alt:before { content: '\e858'; }
.fto-rocket:before { content: '\e859'; }
.fto-tint:before { content: '\e85a'; }
.fto-leaf:before { content: '\e85b'; }
.fto-umbrella:before { content: '\e85c'; }
.fto-fast-food:before { content: '\e85d'; }
.fto-fire:before { content: '\e85e'; }
.fto-flag:before { content: '\e85f'; }
.fto-flag-1:before { content: '\e860'; }
.fto-menu:before { content: '\e861'; }
.fto-plus-circled:before { content: '\e862'; }
.fto-plus-circled-1:before { content: '\e863'; }
.fto-down-open:before { content: '\e864'; }
.fto-quote-left:before { content: '\e865'; }
.fto-location-2:before { content: '\e866'; }
.fto-quote-right:before { content: '\e867'; }
.fto-glyph:before { content: '\e868'; }
.fto-heart-empty:before { content: '\e869'; }
.fto-magic:before { content: '\e86a'; }
.fto-umbrella-1:before { content: '\e86b'; }
.fto-hourglass:before { content: '\e86c'; }
.fto-flow-tree:before { content: '\e86d'; }
.fto-rocket-1:before { content: '\e86e'; }
.fto-feather:before { content: '\e86f'; }
.fto-left-open:before { content: '\e870'; }
.fto-fire-1:before { content: '\e871'; }
.fto-heart-3:before { content: '\e872'; }
.fto-beaker:before { content: '\e873'; }
.fto-diamond:before { content: '\e874'; }
.fto-params:before { content: '\e875'; }
.fto-truck-1:before { content: '\e876'; }
.fto-globe:before { content: '\e877'; }
.fto-cog-1:before { content: '\e878'; }
.fto-home-outline:before { content: '\e879'; }
.fto-history:before { content: '\e87a'; }
.fto-gift:before { content: '\e87b'; }
.fto-anchor-outline:before { content: '\e87c'; }
.fto-shop:before { content: '\e87d'; }
.fto-t-shirt:before { content: '\e87e'; }
.fto-scissors:before { content: '\e87f'; }
.fto-heart-empty-1:before { content: '\e880'; }
.fto-credit-card-1:before { content: '\e881'; }
.fto-resize-full:before { content: '\e882'; }
.fto-star-2:before { content: '\e883'; }
.fto-popup:before { content: '\e884'; }
.fto-popup-1:before { content: '\e885'; }
.fto-columns:before { content: '\e886'; }
.fto-smile:before { content: '\e887'; }
.fto-chart-pie:before { content: '\e888'; }
.fto-gift-1:before { content: '\e889'; }
.fto-play-circled:before { content: '\e88a'; }
.fto-pause-circled:before { content: '\e88b'; }
.fto-play:before { content: '\e88c'; }
.fto-pause:before { content: '\e88d'; }
.fto-user-2:before { content: '\e88e'; }
.fto-user-3:before { content: '\e88f'; }
.fto-right-open:before { content: '\e890'; }
.fto-logout-1:before { content: '\e891'; }
.fto-whatsapp:before { content: '\e892'; }
.fto-comment-empty:before { content: '\e893'; }
.fto-comment:before { content: '\e894'; }
.fto-link-ext:before { content: '\e895'; }
.fto-play-1:before { content: '\e896'; }
.fto-play-circled2:before { content: '\e897'; }
.fto-play-circled-1:before { content: '\e898'; }
.fto-star-empty:before { content: '\e899'; }
.fto-minus-circled:before { content: '\e89a'; }
.fto-ok-circled2:before { content: '\e89b'; }
.fto-cancel-circled2:before { content: '\e89c'; }
.fto-users-1:before { content: '\e89d'; }
.fto-thumbs-down:before { content: '\e89e'; }
.fto-thumbs-up:before { content: '\e89f'; }
.fto-thumbs-up-2:before { content: '\e8a0'; }
.fto-money-1:before { content: '\e8a1'; }
.fto-key:before { content: '\e8a2'; }
.fto-flash:before { content: '\e8a3'; }
.fto-resize-full-1:before { content: '\e8a4'; }
.fto-resize-small:before { content: '\e8a5'; }
.fto-resize-vertical:before { content: '\e8a6'; }
.fto-resize-horizontal:before { content: '\e8a7'; }
.fto-zoom-in:before { content: '\e8a8'; }
.fto-zoom-out:before { content: '\e8a9'; }
.fto-down-circled2:before { content: '\e8aa'; }
.fto-up-circled2:before { content: '\e8ab'; }
.fto-right-big:before { content: '\e8ac'; }
.fto-left-big:before { content: '\e8ad'; }
.fto-down-big:before { content: '\e8ae'; }
.fto-music:before { content: '\e8af'; }
.fto-right-hand:before { content: '\e8b0'; }
.fto-down-hand:before { content: '\e8b1'; }
.fto-up-hand:before { content: '\e8b2'; }
.fto-camera-1:before { content: '\e8b3'; }
.fto-left-hand:before { content: '\e8b4'; }
.fto-recycle:before { content: '\e8b5'; }
.fto-up-open:before { content: '\e8b6'; }
.fto-down-open-mini:before { content: '\e8b7'; }
.fto-left-open-mini:before { content: '\e8b8'; }
.fto-right-open-mini:before { content: '\e8b9'; }
.fto-basket-2:before { content: '\e8ba'; }
.fto-basket-3:before { content: '\e8bb'; }
.fto-cart:before { content: '\e8bc'; }
.fto-basket-circled:before { content: '\e8bd'; }
.fto-basket-4:before { content: '\e8be'; }
.fto-basket-alt:before { content: '\e8bf'; }
.fto-spin4:before { content: '\e8c0'; }
.fto-up-open-mini:before { content: '\e8c1'; }
.fto-down-open-big:before { content: '\e8c2'; }
.fto-left-open-big:before { content: '\e8c3'; }
.fto-barcode:before { content: '\e8c4'; }
.fto-comment-1:before { content: '\e8c5'; }
.fto-right-open-big:before { content: '\e8c6'; }
.fto-up-open-big:before { content: '\e8c7'; }
.fto-dot:before { content: '\e8c8'; }
.fto-dot-2:before { content: '\e8c9'; }
.fto-dot-3:before { content: '\e8ca'; }
.fto-list-add:before { content: '\e8cb'; }
.fto-cancel-3:before { content: '\e8cc'; }
.fto-diamond-1:before { content: '\e8cd'; }
.fto-birthday:before { content: '\e8ce'; }
.fto-check-1:before { content: '\e8cf'; }
.fto-money:before { content: '\e8d0'; }
.fto-share-1:before { content: '\e8d1'; }
.fto-copyright:before { content: '\e8d2'; }
.fto-th-large-1:before { content: '\e8d3'; }
.fto-th-list-1:before { content: '\e8d4'; }
.fto-th-1:before { content: '\e8d5'; }
.fto-mail-3:before { content: '\e8d6'; }
.fto-calendar:before { content: '\e8d7'; }
.fto-paper-plane:before { content: '\e8d8'; }
.fto-cloud:before { content: '\e8d9'; }
.fto-lifebuoy:before { content: '\e8da'; }
.fto-cc:before { content: '\e8db'; }
.fto-mobile-1:before { content: '\e8dc'; }
.fto-search:before { content: '\e8dd'; }
.fto-search-2:before { content: '\e8de'; }
.fto-eye:before { content: '\e8df'; }
.fto-star:before { content: '\e8e0'; }
.fto-user-4:before { content: '\e8e1'; }
.fto-heart-4:before { content: '\e8e2'; }
.fto-thumbs-up-1:before { content: '\e8e3'; }
.fto-camera-3:before { content: '\e8e4'; }
.fto-eye-1:before { content: '\e8e5'; }
.fto-location-1:before { content: '\e8e6'; }
.fto-credit-card-2:before { content: '\e8e7'; }
.fto-heart-empty-2:before { content: '\e8e8'; }
.fto-youtube-1:before { content: '\e8e9'; }
.fto-video-2:before { content: '\e8ea'; }
.fto-eye-off:before { content: '\e8eb'; }
.fto-user-outline:before { content: '\e8ec'; }
.fto-tag-3:before { content: '\e8ed'; }
.fto-folder:before { content: '\e8ee'; }
.fto-ticket:before { content: '\e8ef'; }
.fto-calendar-1:before { content: '\e8f0'; }
.fto-website:before { content: '\e8f1'; }
.fto-tag-4:before { content: '\e8f2'; }
.fto-th-list-3:before { content: '\e8f3'; }
.fto-vcard-1:before { content: '\e8f4'; }
.fto-eye-off-1:before { content: '\e8f5'; }
.fto-heart-filled:before { content: '\e8f6'; }
.fto-star-filled:before { content: '\e8f7'; }
.fto-th-list-2:before { content: '\f009'; }
.fto-th-thumb-empty:before { content: '\f00b'; }
.fto-heart-broken:before { content: '\f028'; }
.fto-move:before { content: '\f047'; }
.fto-users-2:before { content: '\f064'; }
.fto-check-empty:before { content: '\f096'; }
.fto-twitter:before { content: '\f099'; }
.fto-facebook:before { content: '\f09a'; }
.fto-github-circled:before { content: '\f09b'; }
.fto-tasks:before { content: '\f0ae'; }
.fto-resize-full-alt:before { content: '\f0b2'; }
.fto-pinterest-circled:before { content: '\f0d2'; }
.fto-pinterest-squared:before { content: '\f0d3'; }
.fto-gplus-squared:before { content: '\f0d4'; }
.fto-gplus:before { content: '\f0d5'; }
.fto-linkedin:before { content: '\f0e1'; }
.fto-suitcase:before { content: '\f0f2'; }
.fto-angle-left:before { content: '\f104'; }
.fto-angle-right:before { content: '\f105'; }
.fto-angle-up:before { content: '\f106'; }
.fto-angle-down:before { content: '\f107'; }
.fto-circle-empty:before { content: '\f10c'; }
.fto-quote-left-1:before { content: '\f10d'; }
.fto-quote-right-1:before { content: '\f10e'; }
.fto-circle:before { content: '\f111'; }
.fto-github:before { content: '\f113'; }
.fto-star-half-alt:before { content: '\f123'; }
.fto-attention-alt:before { content: '\f12a'; }
.fto-anchor:before { content: '\f13d'; }
.fto-ellipsis:before { content: '\f141'; }
.fto-rss-squared:before { content: '\f143'; }
.fto-minus-squared-alt:before { content: '\f147'; }
.fto-ok-squared:before { content: '\f14a'; }
.fto-euro:before { content: '\f153'; }
.fto-pound:before { content: '\f154'; }
.fto-dollar:before { content: '\f155'; }
.fto-rupee:before { content: '\f156'; }
.fto-yen:before { content: '\f157'; }
.fto-rouble:before { content: '\f158'; }
.fto-won:before { content: '\f159'; }
.fto-bitcoin:before { content: '\f15a'; }
.fto-sort-name-up:before { content: '\f15d'; }
.fto-sort-name-down:before { content: '\f15e'; }
.fto-sort-alt-up:before { content: '\f160'; }
.fto-sort-alt-down:before { content: '\f161'; }
.fto-sort-number-up:before { content: '\f162'; }
.fto-sort-number-down:before { content: '\f163'; }
.fto-thumbs-up-alt:before { content: '\f164'; }
.fto-thumbs-down-alt:before { content: '\f165'; }
.fto-youtube-squared:before { content: '\f166'; }
.fto-youtube:before { content: '\f167'; }
.fto-xing:before { content: '\f168'; }
.fto-xing-squared:before { content: '\f169'; }
.fto-youtube-play:before { content: '\f16a'; }
.fto-dropbox:before { content: '\f16b'; }
.fto-instagram-1:before { content: '\f16d'; }
.fto-tumblr:before { content: '\f173'; }
.fto-tumblr-squared:before { content: '\f174'; }
.fto-apple:before { content: '\f179'; }
.fto-windows:before { content: '\f17a'; }
.fto-android:before { content: '\f17b'; }
.fto-linux:before { content: '\f17c'; }
.fto-dribbble:before { content: '\f17d'; }
.fto-skype:before { content: '\f17e'; }
.fto-female:before { content: '\f182'; }
.fto-male:before { content: '\f183'; }
.fto-moon:before { content: '\f186'; }
.fto-bug:before { content: '\f188'; }
.fto-vkontakte:before { content: '\f189'; }
.fto-weibo:before { content: '\f18a'; }
.fto-right-circled2:before { content: '\f18e'; }
.fto-left-circled2:before { content: '\f190'; }
.fto-dot-circled:before { content: '\f192'; }
.fto-vimeo-squared:before { content: '\f194'; }
.fto-try:before { content: '\f195'; }
.fto-plus-squared-alt:before { content: '\f196'; }
.fto-wordpress:before { content: '\f19a'; }
.fto-graduation-cap:before { content: '\f19d'; }
.fto-yahoo:before { content: '\f19e'; }
.fto-google:before { content: '\f1a0'; }
.fto-digg:before { content: '\f1a6'; }
.fto-pied-piper-squared:before { content: '\f1a7'; }
.fto-drupal:before { content: '\f1a9'; }
.fto-joomla:before { content: '\f1aa'; }
.fto-behance:before { content: '\f1b4'; }
.fto-behance-squared:before { content: '\f1b5'; }
.fto-file-pdf:before { content: '\f1c1'; }
.fto-vine:before { content: '\f1ca'; }
.fto-circle-notch:before { content: '\f1ce'; }
.fto-git-squared:before { content: '\f1d2'; }
.fto-git:before { content: '\f1d3'; }
.fto-tencent-weibo:before { content: '\f1d5'; }
.fto-qq:before { content: '\f1d6'; }
.fto-wechat:before { content: '\f1d7'; }
.fto-paper-plane-1:before { content: '\f1d8'; }
.fto-paper-plane-empty:before { content: '\f1d9'; }
.fto-circle-thin:before { content: '\f1db'; }
.fto-soccer-ball:before { content: '\f1e3'; }
.fto-paypal:before { content: '\f1ed'; }
.fto-cc-visa:before { content: '\f1f0'; }
.fto-cc-mastercard:before { content: '\f1f1'; }
.fto-cc-discover:before { content: '\f1f2'; }
.fto-cc-amex:before { content: '\f1f3'; }
.fto-cc-paypal:before { content: '\f1f4'; }
.fto-cc-stripe:before { content: '\f1f5'; }
.fto-lastfm:before { content: '\f202'; }
.fto-lastfm-squared:before { content: '\f203'; }
.fto-toggle-off:before { content: '\f204'; }
.fto-toggle-on:before { content: '\f205'; }
.fto-shekel:before { content: '\f20b'; }
.fto-cart-plus:before { content: '\f217'; }
.fto-cart-arrow-down:before { content: '\f218'; }
.fto-street-view:before { content: '\f21d'; }
.fto-venus:before { content: '\f221'; }
.fto-mars:before { content: '\f222'; }
.fto-facebook-official:before { content: '\f230'; }
.fto-pinterest:before { content: '\f231'; }
.fto-server:before { content: '\f233'; }
.fto-viacoin:before { content: '\f237'; }
.fto-cc-jcb:before { content: '\f24b'; }
.fto-cc-diners-club:before { content: '\f24c'; }
.fto-balance-scale:before { content: '\f24e'; }
.fto-amazon:before { content: '\f270'; }
.fto-map-pin:before { content: '\f276'; }
.fto-commenting:before { content: '\f27a'; }
.fto-commenting-o:before { content: '\f27b'; }
.fto-vimeo:before { content: '\f27d'; }
.fto-shopping-bag:before { content: '\f290'; }
.fto-shopping-basket:before { content: '\f291'; }
.fto-handshake-o:before { content: '\f2b5'; }
.fto-address-card:before { content: '\f2bb'; }
.fto-user-circle:before { content: '\f2bd'; }
.fto-user-circle-o:before { content: '\f2be'; }
.fto-user-o:before { content: '\f2c0'; }
.fto-id-card:before { content: '\f2c2'; }
.fto-id-card-o:before { content: '\f2c3'; }
.fto-snowflake-o:before { content: '\f2dc'; }
.fto-github-squared:before { content: '\f300'; }
.fto-twitter-squared:before { content: '\f304'; }
.fto-facebook-squared:before { content: '\f308'; }
.fto-linkedin-squared:before { content: '\f30c'; }