/* Creative Popup Transition Gallery Styles */



.cp-transition-preview .cp-3d-container {
	perspective: 500px !important;
	-o-perspective: 500px !important;
	-ms-perspective: 500px !important;
	-moz-perspective: 500px !important;
	-webkit-perspective: 500px !important;
}