.threeds_loading {
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: progress;
    z-index: 9999;
    display: none;
}

.threeds_loading .message {
    top: 30%;
    position: absolute;
    width: 100%;
}

.threeds_loading .message p {
	text-align: center;
    width: 405px;
    height: 272px;
    margin: 0 auto;
    background: url('../img/secure.png') center no-repeat;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

.threeds_loading .message p small {
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    left: 0;
    display: inline-block;
}

#paycertify_proxyForm {
	    margin-bottom: 25px;
    background: #f7f7f7;
}
#paycertify_proxyForm label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400
}
#paycertify_proxyForm input {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #333;
    display: block;
    font-size: 18px;
    height: 32px;
    padding: 0 5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}
#pc-cr-ctn{
    width: 274px;
}
#paycertify_proxyForm input::-webkit-input-placeholder {
    color: #ddd
}
#paycertify_proxyForm input:-moz-placeholder {
    color: #ddd;
    opacity: 1
}
#paycertify_proxyForm input::-moz-placeholder {
    color: #ddd;
    opacity: 1
}
#paycertify_proxyForm input:-ms-input-placeholder {
    color: #ddd
}
#paycertify_proxyForm input:focus {
    outline: 1px solid #38d
}
#paycertify_proxyForm #pc_cardnum {
    background-image: url(../img/creditcard_logos.png), url(../img/creditcard_logos.png);
background-position: 2px -40px, 260px 18px;
background-size: 47px 290px, 57px 305px;
    background-repeat: no-repeat;
    padding-left: 54px;
}
table.pc-crd-dtl{
width: 340px;
}
#paycertify_proxyForm .visa #pc_cardnum {
    background-position: 2px -83px, 260px 18px;
}
#paycertify_proxyForm .visa_electron #pc_cardnum {
    background-position: 2px -127px, 260px 18px;
}
#paycertify_proxyForm  .mastercard  #pc_cardnum {
background-position: 2px -172px, 260px 18px;
}
#paycertify_proxyForm  .maestro #pc_cardnum {
background-position: 2px -215px, 260px 18px;
}
#paycertify_proxyForm .discover #pc_cardnum {
    background-position: 2px -260px, 260px 18px;
}
#paycertify_proxyForm .valid.visa #pc_cardnum {
    background-position: 2px -83px, 260px -5px
}
#paycertify_proxyForm  .valid.visa_electron #pc_cardnum {
    background-position: 2px -127px, 260px -5px
}
#paycertify_proxyForm .valid.mastercard #pc_cardnum {
    background-position: 2px -172px, 260px -5px
}
#paycertify_proxyForm  .valid.maestro  #pc_cardnum{
    background-position: 2px -215px, 260px -5px
}
#paycertify_proxyForm  .valid.discover #pc_cardnum {
    background-position: 2px -260px, 260px -5px
}
#errlbctn .error{
    background: #ec9595;
    padding: 5px;
    color: #fff;
    border-radius: 1px;
	margin-bottom:5px;
}
